@page  "{id}"
@model WebExample.Pages.Products.ModifyModel
@{
    ViewData["Title"] = "Modify";
}

<h1>Modify</h1>

<form method="post">
    <label asp-for="Input.Name"></label>
    <input asp-for="Input.Name" />
    <span asp-validation-for="Input.Name" class="text-danger"></span>
    <br />
    <label asp-for="Input.Code"></label>
    <input asp-for="Input.Code" />
    <span asp-validation-for="Input.Code" class="text-danger"></span>
    <br />
    <label asp-for="Input.ListPrice"></label>
    <input asp-for="Input.ListPrice" />
    <span asp-validation-for="Input.ListPrice" class="text-danger"></span>
    <br />

    <button type="submit">Salva</button>

    <div asp-validation-summary="All"></div>
</form>
