@page
@model IndexModel
@{
    //Layout = "Pippo";
    ViewData["Title"] = "Home page";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->


<h1>Oggi è il @Model.CurrentDate</h1>


<div class="text-md-left " style="overflow: scroll; height:500px;">
    <ul>
        @foreach (var p in Model.List)
        {
            <li>
                <div class="col-md-6 col-md-offset-1" style="display:inline-block">
                    <strong style="text-indent: 5em;">@p.Id</strong>
                    @p.Name

                    <div class="text-right align-top">
                        <a asp-page="/Products/Details"
                           asp-route-id="@p.Id"
                           asp-area=""><btn class="btn btn-primary">vai al dettaglio</btn></a>
                    </div>
                    <canvas style="height:1px;width:1000px ;background-color:black;"></canvas>
                </div>
            </li>
        }
    </ul>
</div>

<a  class="btn btn-dark" asp-page="/Products/Insert" asp-area="">Add a Product</a>